#headerRow{
 
}

#titlenlogo img{
      height:118px;
      float: left;
      padding-left: 17px;
}

#titlenlogo h1{
      color: coral;
      padding-top: 25px;
       float: left;
}

#searchButton{
     padding-left: 14px;
    padding-right: 52px;
    padding-top: 50px;

}
.displayBlock{
    display: block;
}
.displayInlineBlock{
    display: inline-block;
}
.btm{
    padding-bottom: 30px;
}