<div class="container">
    <div class="col-xs-2">
        <!-- Refine panel goes here -->
        <h2> Refine </h2>
        <label class="checkbox"><input type="checkbox" value="">Option 1</label>
        <label class="checkbox"><input type="checkbox" value="">Option 2</label>
        <label class="checkbox"><input type="checkbox" value="">Option 3</label>
    </div>
    <div class="col-xs-10">
        <div class="col-xs-3 btm" *ngFor="let book of books">
            <a href="#"><img src={{book.img}}></a>
            <div>
                <span> {{book.name}}</span> 
                <span>{{book.price}} </span>
            </div>
        </div>
    </div>
  
</div>