<div  class="row">
     <div class="col-md-4">
         <label>Subscribe</label>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2">submit</span>
        </div> 
     </div>
     <div class="col-md-4">
         <label>ConnectWithUS</label>
         <img src="./images/fb.jpg">
         <img src="./images/lnk.jpg">
         <img src="./images/twtr.jpg">
         <img src="./images/utub.jpg">
     </div>
     <div class="col-md-4">
         
     </div>

</div>