<div id="headerRow" class="row">
    <div id="titlenlogo">
         
        <span><img src='./images/samplelogo.jpg'></span>
        
         
        <span><h1>{{title}}</h1></span>
      
        
        <div id="searchButton" class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
        </div>
      
    </div>
</div>